pkgbase = sway-waypure
	pkgdesc = Tiling Wayland compositor and replacement for the i3 window manager
	pkgver = 1.12
	pkgrel = 1
	epoch = 1
	url = https://github.com/swaywm/sway
	install = sway.install
	arch = x86_64
	license = MIT
	makedepends = meson
	makedepends = wayland-protocols
	depends = cairo
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = json-c
	depends = libdrm
	depends = libevdev
	depends = libinput
	depends = libxkbcommon
	depends = pango
	depends = pcre2
	depends = pixman
	depends = systemd-libs
	depends = wayland
	depends = wlroots0.20
	optdepends = brightnessctl: Brightness adjustment tool used in the default configuration
	optdepends = foot: Terminal emulator used in the default configuration
	optdepends = grim: Screenshot utility used in the default configuration
	optdepends = i3status: Status line generation
	optdepends = mako: Lightweight notification daemon
	optdepends = polkit: System privilege control. Required if not using seatd service
	optdepends = swaybg: Wallpaper tool for sway
	optdepends = sway-contrib: Collection of user-contributed scripts for sway
	optdepends = swayidle: Idle management daemon
	optdepends = swaylock: Screen locker
	optdepends = waybar: Highly customizable bar
	optdepends = wmenu: Application launcher used in default config
	optdepends = xorg-xwayland: X11 support
	optdepends = xdg-desktop-portal-gtk: Default xdg-desktop-portal for file picking
	optdepends = xdg-desktop-portal-wlr: xdg-desktop-portal backend
	provides = sway
	provides = wayland-compositor
	conflicts = sway
	replaces = sway
	backup = etc/sway/config
	backup = etc/sway/config.d/50-systemd-user.conf
	source = https://github.com/swaywm/sway/releases/download/1.12-rc1/sway-1.12-rc1.tar.gz
	source = 50-systemd-user.conf
	source = sway-portals.conf
	sha256sums = 912554cba209aeea32ef6ccbc1636e7942e92f0ea2d9b3e6d49787649e931226
	sha256sums = 670a388b02740f4e70d4e072cfb5ebd130f8fe2ab34cf0921cade87a2459b667
	sha256sums = d7c031d0c49c116f503d2ad45471741d2730bbbb6ac945f89c15650f1701ff57

pkgname = sway-waypure
