pkgbase = ghostscript-waypure
	pkgdesc = An interpreter for the PostScript language
	pkgver = 10.07.1
	pkgrel = 1
	url = https://github.com/ArtifexSoftware/ghostpdl-downloads
	arch = x86_64
	license = AGPL-3.0-or-later
	makedepends = gtk3
	makedepends = gnutls
	makedepends = glu
	makedepends = freeglut
	depends = cairo
	depends = fontconfig
	depends = freetype2
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = ijs
	depends = jbig2dec
	depends = lcms2
	depends = libcups
	depends = libidn
	depends = libjpeg-turbo
	depends = libpaper
	depends = libpng
	depends = libtiff
	depends = openjpeg2
	depends = poppler-data
	depends = sh
	depends = zlib
	optdepends = gtk3: needed for gsx
	provides = ghostscript
	conflicts = ghostscript
	conflicts = ghostpcl
	conflicts = ghostxps
	replaces = ghostscript
	replaces = ghostpcl
	replaces = ghostxps
	source = https://github.com/ArtifexSoftware/ghostpdl-downloads/releases/download/gs10071/ghostscript-10.07.1.tar.gz
	source = 2010_add_build_timestamp_setting.patch
	source = https://src.fedoraproject.org/rpms/ghostscript/raw/rawhide/f/0001-Reinstate-pdf2dsc.patch
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = ghostscript-waypure
