pkgbase = libwmf-waypure
	pkgdesc = A library for reading vector images in Microsoft's native Windows Metafile Format (WMF)
	pkgver = 0.2.15
	pkgrel = 1
	url = https://github.com/caolanm/libwmf
	arch = x86_64
	license = LGPL-2.1-or-later
	makedepends = gdk-pixbuf2
	depends = bash
	depends = expat
	depends = freetype2
	depends = glib2
	depends = glibc
	depends = libjpeg-turbo
	depends = libpng
	depends = zlib
	optdepends = gdk-pixbuf2: for pixbuf loader
	provides = libwmf
	conflicts = libwmf
	replaces = libwmf
	source = https://github.com/caolanm/libwmf/releases/download/v0.2.15/libwmf-0.2.15.tar.gz
	source = https://codeberg.org/gentoo/gentoo/raw/branch/master/media-libs/libwmf/files/libwmf-0.2.8.4-libpng-1.5.patch
	source = https://codeberg.org/gentoo/gentoo/raw/branch/master/media-libs/libwmf/files/libwmf-0.2.8.4-pngfix.patch
	source = https://github.com/caolanm/libwmf/commit/dba34dd82c1bd206a17787ee352c496f74c5db24.patch
	source = https://codeberg.org/gentoo/gentoo/raw/branch/master/media-libs/libwmf/files/libwmf-0.2.15-underlinked-plugin.patch
	sha256sums = bbc90f22b9e86d5f1890d7da11cf7a8e61f429d4c220d900c285021deabe7a52
	sha256sums = ffad4b3657725028bf3250f3555275373b800eacd6b6be5512ef3e5f76563181
	sha256sums = 39a47d2d12720cc98ee4669e44c012e855df5de0dcec0636f1fb12918c2d8006
	sha256sums = 22ec5f0ea0de58f19e12b99ebb510236e14dde07ff8eb70698c6fb753b62df47
	sha256sums = a0e29519260fcb985b3580b540cdb9c13536ee66e90f4dc39941f2319aa20c49

pkgname = libwmf-waypure
