pkgbase = pango-waypure
	pkgdesc = A library for layout and rendering of text
	pkgver = 1.58.0
	pkgrel = 1
	url = https://gitlab.gnome.org/GNOME/pango
	arch = x86_64
	license = LGPL-2.1-or-later
	makedepends = meson
	depends = cairo
	depends = freetype2
	depends = fribidi
	depends = fontconfig
	depends = glib2
	depends = glibc
	depends = harfbuzz
	provides = pango
	provides = libpango-1.0.so
	provides = libpangocairo-1.0.so
	provides = libpangoft2-1.0.so
	conflicts = pango
	replaces = pango
	source = https://gitlab.gnome.org/GNOME/pango/-/archive/1.58.0/pango-1.58.0.tar.gz
	sha256sums = 1672290d28193de8985322c64ade30fa5f0308eeb2737a03f214cdf5d8878464

pkgname = pango-waypure
