pkgbase = pango-waypure
	pkgdesc = A library for layout and rendering of text
	pkgver = 1.57.1
	pkgrel = 1
	url = https://gitlab.gnome.org/GNOME/pango
	arch = x86_64
	license = LGPL-2.1-or-later
	makedepends = meson
	depends = cairo-waypure
	depends = freetype2
	depends = fribidi
	depends = fontconfig
	depends = glib2
	depends = glibc
	depends = harfbuzz
	provides = pango
	provides = libpango-1.0.so
	provides = libpangocairo-1.0.so
	provides = libpangoft2-1.0.so
	conflicts = pango
	replaces = pango
	source = https://gitlab.gnome.org/GNOME/pango/-/archive/1.57.1/pango-1.57.1.tar.gz
	sha256sums = fefa79f2a6a37f744aefc1782b7241218b9f50bc1084415c1c73561150ca6665

pkgname = pango-waypure
