pkgbase = pango-waypure
	pkgdesc = A library for layout and rendering of text
	pkgver = 1.58.2
	pkgrel = 1
	url = https://gitlab.gnome.org/GNOME/pango
	arch = x86_64
	license = LGPL-2.1-or-later
	makedepends = meson
	depends = cairo
	depends = freetype2
	depends = fribidi
	depends = fontconfig
	depends = glib2
	depends = glibc
	depends = harfbuzz
	provides = pango
	provides = libpango-1.0.so
	provides = libpangocairo-1.0.so
	provides = libpangoft2-1.0.so
	conflicts = pango
	replaces = pango
	source = https://gitlab.gnome.org/GNOME/pango/-/archive/1.58.2/pango-1.58.2.tar.gz
	sha256sums = 67b20e56a51aad6673261d2b7d41ced3687e59b82fe8c10a40ea43baf304cf0e

pkgname = pango-waypure
