pkgbase = wlroots0.20-waypure
	pkgdesc = Modular Wayland compositor library without X
	pkgver = 0.20.1
	pkgrel = 1
	url = https://gitlab.freedesktop.org/wlroots/wlroots
	arch = x86_64
	license = MIT
	makedepends = glslang
	makedepends = meson
	makedepends = systemd
	makedepends = vulkan-headers
	makedepends = wayland-protocols
	depends = glibc
	depends = lcms2
	depends = libdisplay-info
	depends = libdrm
	depends = libinput
	depends = libliftoff
	depends = libxkbcommon
	depends = mesa
	depends = pixman
	depends = seatd
	depends = systemd-libs
	depends = vulkan-icd-loader
	depends = wayland
	provides = wlroots0.20
	provides = libwlroots-0.20.so
	conflicts = wlroots0.20
	replaces = wlroots0.20
	source = https://gitlab.freedesktop.org/wlroots/wlroots/-/releases/0.20.1/downloads/wlroots-0.20.1.tar.gz
	sha256sums = a8541187baecaa2620938afacde88266cb7efa5928cb09d579d8efb07bc4901b

pkgname = wlroots0.20-waypure
