pkgbase = libva-waypure
	pkgdesc = Video Acceleration (VA) API for Linux
	pkgver = 2.24.1
	pkgrel = 1
	url = https://github.com/intel/libva
	arch = x86_64
	license = MIT
	makedepends = meson
	makedepends = wayland-protocols
	depends = glibc
	depends = libdrm
	depends = wayland
	optdepends = intel-media-driver: backend for Intel GPUs (>= Broadwell)
	optdepends = libva-intel-driver: backend for Intel GPUs (<= Haswell)
	optdepends = libva-mesa-driver: backend for AMD and NVIDIA GPUs
	provides = libva
	provides = libva.so
	provides = libva-drm.so
	provides = libva-wayland.so
	conflicts = libva
	replaces = libva
	source = https://github.com/intel/libva/releases/download/2.24.1/libva-2.24.1.tar.bz2
	sha256sums = eec6050b52876f229bd35e9df17cd31a06785e18e6f7990c445b584628483d67

pkgname = libva-waypure
