pkgbase = vulkan-tools-waypure
	pkgdesc = Vulkan tools and utilities
	pkgver = 1.4.357.0
	pkgrel = 1
	url = https://github.com/KhronosGroup/Vulkan-Tools
	arch = x86_64
	groups = vulkan-devel
	license = Apache-2.0
	makedepends = cmake
	makedepends = ninja
	makedepends = glslang
	makedepends = python
	makedepends = spirv-tools
	makedepends = vulkan-headers
	makedepends = wayland-protocols
	depends = glibc
	depends = libgcc
	depends = libstdc++
	depends = wayland
	depends = vulkan-icd-loader
	provides = vulkan-tools
	conflicts = vulkan-tools
	replaces = vulkan-tools
	source = https://github.com/KhronosGroup/Vulkan-Tools/archive/refs/tags/vulkan-sdk-1.4.357.0.tar.gz
	sha256sums = 6c94b86c850808aba316d999dd6742133d6197ae2135248d3a8aed9b32ebd1f7

pkgname = vulkan-tools-waypure
