pkgbase = zbar-waypure
	pkgdesc = Application and library for reading bar codes from various sources
	pkgver = 0.23.93
	pkgrel = 1
	url = https://github.com/mchehab/zbar
	arch = x86_64
	license = LGPL-2.1-or-later
	makedepends = docbook-xsl
	makedepends = glib2-devel
	makedepends = python
	makedepends = xmlto
	depends = dbus
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = imagemagick
	depends = libjpeg-turbo
	depends = v4l-utils
	optdepends = gtk3: for zbar-gtk
	optdepends = python: for zbar python bindings
	provides = zbar
	provides = zbar-gtk
	provides = zbar-qt
	provides = python-zbar
	conflicts = zbar
	conflicts = zbar-gtk
	conflicts = zbar-qt
	conflicts = python-zbar
	replaces = zbar
	replaces = zbar-gtk
	replaces = zbar-qt
	replaces = python-zbar
	source = https://github.com/mchehab/zbar/archive/refs/tags/0.23.93.tar.gz
	source = https://github.com/mchehab/zbar/commit/368571ff.patch
	source = https://github.com/mchehab/zbar/commit/a549566e.patch
	sha256sums = 212dfab527894b8bcbcc7cd1d43d63f5604a07473d31a5f02889e372614ebe28
	sha256sums = ee6db25d4102d73eb3f6c7c4545d3581b08b5168cf9e5e1809318968f1988375
	sha256sums = d34f3156a4a4b21541eddac7ed3477721194f92a63ec8462ec796e7fa097bc7c

pkgname = zbar-waypure
