pkgbase = gd-waypure
	pkgdesc = Library for the dynamic creation of images by programmers
	pkgver = 2.3.3
	pkgrel = 1
	url = https://github.com/libgd/libgd
	arch = x86_64
	license = GD
	checkdepends = ttf-liberation
	depends = fontconfig
	depends = libwebp
	depends = libavif
	depends = libheif
	depends = freetype2
	depends = glibc
	depends = libjpeg-turbo
	depends = libpng
	depends = zlib
	optdepends = perl: bdftogd script
	provides = gd
	conflicts = gd
	replaces = gd
	source = https://github.com/libgd/libgd/releases/download/gd-2.3.3/libgd-2.3.3.tar.gz
	source = https://github.com/libgd/libgd/commit/f1a53c082173567b8ad07eaba8fc7ba66457a730.patch
	source = https://github.com/libgd/libgd/commit/21633377174354199c3ea3e4b23f64cfaeacc50a.patch
	source = https://codeberg.org/gentoo/gentoo/raw/branch/master/media-libs/gd/files/gd-2.3.0-disable-flaky-tests.patch
	source = https://codeberg.org/gentoo/gentoo/raw/branch/master/media-libs/gd/files/gd-2.3.3-GD_BICUBIC.patch
	source = https://codeberg.org/gentoo/gentoo/raw/branch/master/media-libs/gd/files/gd-2.3.3-c23.patch
	sha256sums = dd3f1f0bb016edcc0b2d082e8229c822ad1d02223511997c80461481759b1ed2
	sha256sums = 1b102b0f87e630bd98f345088d6bc742def72c6619764572049d2c67ca050500
	sha256sums = 591b63e9bd35d9ab1e732d33663c1eb4dfa4163f70324d602d361167ba643541
	sha256sums = 44c22d4c3c0af12944cf8c06948e361d999fd3b7d673a9f29984a70720fc2e1c
	sha256sums = ba04984af79dcd80841e7d083182f894e9b57ca8383c9ba36aae3e344cf6cc47
	sha256sums = 16f0d638abcc450344395502405abe77b091aa3611db52a39993e147cb72ff86

pkgname = gd-waypure
