pkgbase = imagemagick-waypure
	pkgdesc = An image viewing/manipulation program
	pkgver = 7.1.2.16
	pkgrel = 1
	url = https://github.com/ImageMagick/ImageMagick
	arch = x86_64
	license = ImageMagick
	checkdepends = gsfonts
	checkdepends = ttf-dejavu
	makedepends = chrpath
	makedepends = ghostscript
	makedepends = glu
	makedepends = ocl-icd
	makedepends = opencl-headers
	depends = bash
	depends = bzip2
	depends = cairo
	depends = djvulibre
	depends = fftw
	depends = fontconfig
	depends = freetype2
	depends = glib2
	depends = glibc
	depends = jbigkit
	depends = lcms2
	depends = libgcc
	depends = libgomp
	depends = libheif
	depends = libjpeg-turbo
	depends = libjxl
	depends = liblqr
	depends = libpng
	depends = libraqm
	depends = libraw
	depends = librsvg
	depends = libstdc++
	depends = libtiff
	depends = libtool
	depends = libultrahdr
	depends = libwebp
	depends = libwmf
	depends = libxml2
	depends = libzip
	depends = openexr
	depends = openjpeg2
	depends = pango
	depends = perl
	depends = xz
	depends = zlib-ng-compat
	optdepends = ghostscript: PS/PDF support
	optdepends = ocl-icd: OpenCL support
	provides = imagemagick
	provides = libmagick
	conflicts = imagemagick
	replaces = imagemagick
	backup = etc/ImageMagick-7/colors.xml
	backup = etc/ImageMagick-7/delegates.xml
	backup = etc/ImageMagick-7/log.xml
	backup = etc/ImageMagick-7/mime.xml
	backup = etc/ImageMagick-7/policy.xml
	backup = etc/ImageMagick-7/quantization-table.xml
	backup = etc/ImageMagick-7/thresholds.xml
	backup = etc/ImageMagick-7/type.xml
	backup = etc/ImageMagick-7/type-dejavu.xml
	backup = etc/ImageMagick-7/type-ghostscript.xml
	source = https://github.com/ImageMagick/ImageMagick/archive/refs/tags/7.1.2-16.tar.gz
	sha256sums = aadfa67a104d14a35339de0f2cc286c973a0f43329770c69e9667a22208750fb

pkgname = imagemagick-waypure
