pkgbase = sdl3-waypure
	pkgdesc = A library for portable low-level access to a video framebuffer, audio output, mouse, and keyboard (Version 3)
	pkgver = 3.4.2
	pkgrel = 1
	url = https://github.com/libsdl-org/SDL
	arch = x86_64
	license = Zlib
	makedepends = cmake
	makedepends = mesa
	makedepends = ninja
	makedepends = vulkan-headers
	makedepends = wayland-protocols
	makedepends = pipewire
	depends = glibc
	depends = libglvnd
	depends = libusb
	depends = libpipewire
	depends = libxkbcommon
	depends = wayland
	optdepends = pipewire: PipeWire audio driver
	optdepends = vulkan-driver: vulkan renderer
	provides = sdl3
	conflicts = sdl3
	replaces = sdl3
	source = https://github.com/libsdl-org/SDL/releases/download/release-3.4.2/SDL3-3.4.2.tar.gz
	sha256sums = ef39a2e3f9a8a78296c40da701967dd1b0d0d6e267e483863ce70f8a03b4050c

pkgname = sdl3-waypure
