pkgbase = sdl3-waypure
	pkgdesc = A library for portable low-level access to a video framebuffer, audio output, mouse, and keyboard (Version 3)
	pkgver = 3.4.0
	pkgrel = 1
	url = https://github.com/libsdl-org/SDL
	arch = x86_64
	license = Zlib
	makedepends = cmake
	makedepends = mesa
	makedepends = ninja
	makedepends = vulkan-headers
	makedepends = wayland-protocols
	makedepends = pipewire
	depends = glibc
	depends = libglvnd
	depends = libusb
	depends = libpipewire
	depends = libxkbcommon
	depends = wayland
	optdepends = pipewire: PipeWire audio driver
	optdepends = vulkan-driver: vulkan renderer
	provides = sdl3
	conflicts = sdl3
	replaces = sdl3
	source = https://github.com/libsdl-org/SDL/releases/download/release-3.4.0/SDL3-3.4.0.tar.gz
	sha256sums = 082cbf5f429e0d80820f68dc2b507a94d4cc1b4e70817b119bbb8ec6a69584b8

pkgname = sdl3-waypure
