pkgbase = at-spi2-core-waypure
	pkgdesc = Protocol definitions and daemon for D-Bus at-spi
	pkgver = 2.60.7
	pkgrel = 1
	url = https://gitlab.gnome.org/GNOME/at-spi2-core
	arch = x86_64
	license = LGPL-2.1-or-later
	makedepends = glib2-devel
	makedepends = meson
	makedepends = systemd
	depends = dbus
	depends = glib2
	depends = glibc
	depends = libgcc
	depends = systemd-libs
	provides = at-spi2-core
	provides = at-spi2-atk=2.60.7-1
	provides = atk=2.60.7-1
	provides = libatk-1.0.so
	provides = libatk-bridge-2.0.so
	provides = libatspi.so
	conflicts = at-spi2-core
	replaces = at-spi2-core
	source = https://gitlab.gnome.org/GNOME/at-spi2-core/-/archive/2.60.7/at-spi2-core-2.60.7.tar.gz
	sha256sums = aa68e37bceb8b990233d367530ecc84c0a862bae0a6a45c2d6f38df11bdc8b5b

pkgname = at-spi2-core-waypure
