pkgbase = vulkan-icd-loader-waypure
	pkgdesc = Vulkan Installable Client Driver (ICD) Loader
	pkgver = 1.4.341.0
	pkgrel = 1
	url = https://github.com/KhronosGroup/Vulkan-Loader
	arch = x86_64
	groups = vulkan-devel
	license = Apache-2.0
	makedepends = cmake
	makedepends = ninja
	makedepends = vulkan-headers
	makedepends = wayland
	depends = glibc
	optdepends = vulkan-driver: packaged vulkan driver
	provides = vulkan-icd-loader
	provides = libvulkan.so
	conflicts = vulkan-icd-loader
	replaces = vulkan-icd-loader
	source = https://github.com/KhronosGroup/Vulkan-Loader/archive/refs/tags/vulkan-sdk-1.4.341.0.tar.gz
	sha256sums = fe982697c780a950641bfcf94707135c26c501352242d285fa95d087d691292e

pkgname = vulkan-icd-loader-waypure
