pkgbase = vulkan-icd-loader-waypure
	pkgdesc = Vulkan Installable Client Driver (ICD) Loader
	pkgver = 1.4.350.1
	pkgrel = 1
	url = https://github.com/KhronosGroup/Vulkan-Loader
	arch = x86_64
	groups = vulkan-devel
	license = Apache-2.0
	makedepends = cmake
	makedepends = ninja
	makedepends = vulkan-headers
	makedepends = wayland
	depends = glibc
	optdepends = vulkan-driver: packaged vulkan driver
	provides = vulkan-icd-loader
	provides = libvulkan.so
	conflicts = vulkan-icd-loader
	replaces = vulkan-icd-loader
	source = https://github.com/KhronosGroup/Vulkan-Loader/archive/refs/tags/vulkan-sdk-1.4.350.1.tar.gz
	sha256sums = 602984a71000981e25e4feb419e6cdd70b18ffe2b8004f60f591706027bca468

pkgname = vulkan-icd-loader-waypure
